@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#12131C] text-white font-sans antialiased;
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-[#12131C];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#2A2B36] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#3A3B46];
}
